/* screen - informacoes */

.border-class-1 {
  border: 1px solid var(--dove-gray);
}
.border-class-2 {
  border: 3px solid var(--monza);
}
.border-class-3 {
  border: 3px solid var(--atlantis);
}
.border-class-4 {
  border: 5px solid var(--raw-sienna);
}
.border-class-5 {
  border: 6px solid var(--quick-silver);
}
.border-class-6 {
  border: 5px solid var(--atlantis);
}
.border-class-7 {
  border: 5px solid var(--monza);
}
.brasilero-normal-black-25px {
  color: var(--black);
  font-family: 'Brasilero', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: None;
}
.informacoes {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1080px;
  justify-content: flex-start;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: auto;
}
.informacoes .acessos-na-loja-l1QoEv {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 18px;
  margin-top: 5.5px;
  min-height: 45px;
  min-width: 237px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .agricooltor-JLqwEZ {
  background-color: transparent;
  bottom: -4px;
  color: rgba(22,22,21,1.0);
  font-family: 'Brasilero', Helvetica, Arial, serif;
  font-size: 59px;
  font-style: normal;
  font-weight: None;
  height: 61px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.informacoes .auto-flex-W3m385 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-start;
  margin-left: 47.64px;
  margin-top: 30px;
  min-width: 318px;
  position: relative;
  width: auto;
}
.informacoes .auto-flex1-x8BLFW {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 288px;
  position: relative;
  width: 1503px;
}
.informacoes .auto-flex10-0KEKHQ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 344px;
  justify-content: flex-start;
  margin-right: 190.0px;
  margin-top: 10px;
  min-width: 1109px;
  position: relative;
  width: auto;
}
.informacoes .auto-flex11-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  min-height: 1019px;
  position: relative;
  width: 1503px;
}
.informacoes .auto-flex2-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -42px;
  min-height: 1080px;
  position: relative;
  width: 459px;
}
.informacoes .auto-flex3-x8BLFW {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 92px;
  justify-content: flex-start;
  margin-right: 152.0px;
  margin-top: 20px;
  min-width: 1145px;
  position: relative;
  width: auto;
}
.informacoes .auto-flex4-S48n2p {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 475px;
  position: relative;
  width: 1503px;
}
.informacoes .auto-flex5-fXOuwH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 33px;
  margin-top: 3.0px;
  min-height: 151px;
  position: relative;
  width: 286px;
}
.informacoes .auto-flex6-fXOuwH {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 3.01px;
  min-height: 137px;
  position: relative;
  width: 32px;
}
.informacoes .auto-flex7-S48n2p {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 183px;
  justify-content: flex-start;
  margin-right: 40.0px;
  margin-top: 6px;
  min-width: 1259px;
  position: relative;
  width: auto;
}
.informacoes .auto-flex8-0KEKHQ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 664px;
  position: relative;
  width: 1503px;
}
.informacoes .auto-flex9-xe17xs {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 1.5px;
  min-height: 192px;
  position: relative;
  width: 409px;
}
.informacoes .caminho-1-ZdIUYu {
  background-color: transparent;
  height: 100%;
  left: calc(33.33% - 2px);
  position: absolute;
  top: 0px;
  width: 7px;
}
.informacoes .caminho-1-ssg1we {
  background-color: transparent;
  height: 100%;
  left: calc(33.33% - 2px);
  position: absolute;
  top: 0px;
  width: 7px;
}
.informacoes .caminho-2-ZdIUYu {
  background-color: transparent;
  bottom: 0px;
  height: 15px;
  left: 0px;
  position: absolute;
  width: 7px;
}
.informacoes .caminho-2-ssg1we {
  background-color: transparent;
  bottom: 0px;
  height: 15px;
  left: 0px;
  position: absolute;
  width: 7px;
}
.informacoes .caminho-24-q2Etw4 {
  background-color: transparent;
  height: 15px;
  left: calc(27.05% - 4px);
  position: absolute;
  top: 6px;
  width: 17px;
}
.informacoes .caminho-25-q2Etw4 {
  background-color: transparent;
  bottom: 6px;
  height: 11px;
  left: calc(16.91% - 2px);
  position: absolute;
  width: 11px;
}
.informacoes .caminho-26-q2Etw4 {
  background-color: transparent;
  bottom: 6px;
  height: 11px;
  position: absolute;
  right: calc(16.72% - 2px);
  width: 11px;
}
.informacoes .caminho-27-q2Etw4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .caminho-28-q2Etw4 {
  background-color: transparent;
  bottom: 3px;
  height: 17px;
  left: 16px;
  position: absolute;
  width: 17px;
}
.informacoes .caminho-29-q2Etw4 {
  background-color: transparent;
  bottom: calc(17.01% - 1px);
  height: 5px;
  left: calc(18.59% - 1px);
  position: absolute;
  width: 5px;
}
.informacoes .caminho-3-ZdIUYu {
  background-color: transparent;
  bottom: 1px;
  height: 21px;
  position: absolute;
  right: calc(33.33% - 2px);
  width: 7px;
}
.informacoes .caminho-3-ssg1we {
  background-color: transparent;
  bottom: 1px;
  height: 21px;
  position: absolute;
  right: calc(33.33% - 2px);
  width: 7px;
}
.informacoes .caminho-30-q2Etw4 {
  background-color: transparent;
  bottom: calc(24.64% - 1px);
  height: 5px;
  position: absolute;
  right: 3px;
  width: 12px;
}
.informacoes .caminho-31-q2Etw4 {
  background-color: transparent;
  bottom: 3px;
  height: 17px;
  position: absolute;
  right: 16px;
  width: 17px;
}
.informacoes .caminho-32-q2Etw4 {
  background-color: transparent;
  bottom: calc(17.01% - 1px);
  height: 5px;
  position: absolute;
  right: calc(18.41% - 1px);
  width: 5px;
}
.informacoes .caminho-33-q2Etw4 {
  background-color: transparent;
  bottom: calc(28.60% - 4px);
  height: 13px;
  position: absolute;
  right: 7px;
  width: 63px;
}
.informacoes .caminho-34-q2Etw4 {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: calc(28.43% - 1px);
  top: 6px;
  width: 4px;
}
.informacoes .caminho-35-q2Etw4 {
  background-color: transparent;
  bottom: calc(24.65% - 1px);
  height: 5px;
  left: 3px;
  position: absolute;
  width: 12px;
}
.informacoes .caminho-36-q2Etw4 {
  background-color: transparent;
  height: 42px;
  left: 7px;
  position: absolute;
  top: 3px;
  width: 42px;
}
.informacoes .caminho-37-q2Etw4 {
  background-color: transparent;
  height: 9px;
  left: calc(28.89% - 3px);
  position: absolute;
  top: calc(18.70% - 2px);
  width: 10px;
}
.informacoes .caminho-38-q2Etw4 {
  background-color: transparent;
  height: 3px;
  left: calc(33.76% - 2px);
  position: absolute;
  top: calc(45.01% - 1px);
  width: 5px;
}
.informacoes .caminho-39-lybFax {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 22px;
}
.informacoes .caminho-4-ZdIUYu {
  background-color: transparent;
  bottom: 1px;
  height: 30px;
  position: absolute;
  right: 0px;
  width: 7px;
}
.informacoes .caminho-4-ssg1we {
  background-color: transparent;
  bottom: 1px;
  height: 30px;
  position: absolute;
  right: 0px;
  width: 7px;
}
.informacoes .caminho-40-lybFax {
  background-color: transparent;
  bottom: -1px;
  height: 23px;
  left: -1px;
  position: absolute;
  width: 22px;
}
.informacoes .componente-11-1-GLDx8d {
  background-color: var(--white);
  border-radius: 41px;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 477px;
  width: 440px;
}
.informacoes .componente-12-3-GLDx8d {
  background-color: var(--white);
  border-radius: 41px;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 440px;
}
.informacoes .componente-13-1-E0sDxO {
  background-color: transparent;
  height: 79px;
  left: 1147px;
  position: absolute;
  top: 120px;
  width: 86px;
}
.informacoes .componente-14-1-E0sDxO {
  background-color: transparent;
  height: 79px;
  left: 1253px;
  position: absolute;
  top: 120px;
  width: 86px;
}
.informacoes .componente-15-1-E0sDxO {
  background-color: transparent;
  height: 79px;
  left: 1359px;
  position: absolute;
  top: 120px;
  width: 86px;
}
.informacoes .componente-17-1-GLDx8d {
  background-color: transparent;
  background-image: url(../img/caminho-41-1@1x.png);
  background-size: 100% 100%;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 204px;
  width: 440px;
}
.informacoes .componente-3-1-GLDx8d {
  background-color: var(--white);
  border-radius: 41px;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 22px;
  width: 440px;
}
.informacoes .componente-4-1-GLDx8d {
  background-color: var(--white);
  border-radius: 41px;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 113px;
  width: 440px;
}
.informacoes .componente-5-1-GLDx8d {
  background-color: var(--white);
  border-radius: 41px;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 295px;
  width: 440px;
}
.informacoes .componente-6-1-GLDx8d {
  background-color: var(--white);
  border-radius: 41px;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 386px;
  width: 440px;
}
.informacoes .entraram-por-x8BLFW {
  background-color: transparent;
  color: var(--raw-sienna);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-left: 102px;
  margin-top: 38px;
  min-height: 37px;
  min-width: 209px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .entre-19h-2030-h-wUb0Bc {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 45px;
  min-width: 279px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .entregas-75NSL6 {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(48.93% - 55px);
  text-align: left;
  white-space: nowrap;
  width: 113px;
}
.informacoes .grupo-1-UBrx6y {
  background-color: transparent;
  background-image: url(../img/caminho-5-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-10-EMGboW {
  background-color: transparent;
  background-image: url(../img/caminho-9-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-11-CS5KQO {
  background-color: transparent;
  background-image: url(../img/caminho-10-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-12-EMGboW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-13-Ze8lq3 {
  background-color: transparent;
  height: 13px;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 15px;
}
.informacoes .grupo-14-SdSCxM {
  background-color: transparent;
  background-image: url(../img/caminho-11-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-15-xx2BRr {
  background-color: transparent;
  background-image: url(../img/caminho-12-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-16-SdSCxM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-17-Ze8lq3 {
  background-color: transparent;
  bottom: 1px;
  height: 17px;
  left: 0px;
  position: absolute;
  width: 16px;
}
.informacoes .grupo-18-LGnrzP {
  background-color: transparent;
  height: 26px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 26px;
}
.informacoes .grupo-19-28QoCh {
  background-color: transparent;
  background-image: url(../img/caminho-13-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-2-Qs79bs {
  background-color: transparent;
  background-image: url(../img/caminho-6-3@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-20-B64z5a {
  background-color: transparent;
  background-image: url(../img/caminho-14-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-21-B64z5a {
  background-color: transparent;
  background-image: url(../img/caminho-15-1@1x.png);
  background-size: 100% 100%;
  height: 7px;
  position: absolute;
  right: calc(49.47% - 6px);
  top: calc(47.45% - 3px);
  width: 12px;
}
.informacoes .grupo-22-28QoCh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-23-dfekxn {
  background-color: transparent;
  height: 14px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.informacoes .grupo-24-Kc0oiw {
  background-color: transparent;
  background-image: url(../img/caminho-16-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-25-etpQuO {
  background-color: transparent;
  background-image: url(../img/caminho-17-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-26-Kc0oiw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-27-dfekxn {
  background-color: transparent;
  bottom: 0px;
  height: 5px;
  left: 4px;
  position: absolute;
  width: 10px;
}
.informacoes .grupo-28-htEKRz {
  background-color: transparent;
  background-image: url(../img/caminho-18-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-29-h4Rcxi {
  background-color: transparent;
  background-image: url(../img/caminho-15-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-3-UBrx6y {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-30-htEKRz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-31-dfekxn {
  background-color: transparent;
  height: 7px;
  left: calc(47.27% - 6px);
  position: absolute;
  top: calc(21.76% - 1px);
  width: 12px;
}
.informacoes .grupo-32-AaHLxu {
  background-color: transparent;
  background-image: url(../img/caminho-20-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-33-w1eW4x {
  background-color: transparent;
  background-image: url(../img/caminho-21-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-34-AaHLxu {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-35-dfekxn {
  background-color: transparent;
  height: calc(100.00% - 1px);
  position: absolute;
  right: 0px;
  top: 1px;
  width: 17px;
}
.informacoes .grupo-36-yJ0alt {
  background-color: transparent;
  background-image: url(../img/caminho-22-3@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-37-aCwoPI {
  background-color: transparent;
  background-image: url(../img/caminho-23-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-38-yJ0alt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-39-dfekxn {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 0px;
  position: absolute;
  top: 2px;
  width: 15px;
}
.informacoes .grupo-4-dHgtVi {
  background-color: transparent;
  height: calc(100.00% - 5px);
  left: 0px;
  position: absolute;
  top: 5px;
  width: 100%;
}
.informacoes .grupo-40-LGnrzP {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: calc(45.88% - 12px);
  top: 3px;
  width: 27px;
}
.informacoes .grupo-41-LGnrzP {
  background-color: transparent;
  bottom: 0px;
  height: 57px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 4px);
}
.informacoes .grupo-42-JLqwEZ {
  background-color: transparent;
  height: 72px;
  position: absolute;
  right: calc(49.06% - 62px);
  top: 0px;
  width: 126px;
}
.informacoes .grupo-43-qJV0Li {
  background-color: transparent;
  bottom: calc(49.85% - 65px);
  height: 131px;
  left: 59px;
  position: absolute;
  width: calc(100.00% - 118px);
}
.informacoes .grupo-5-uaN53x {
  background-color: transparent;
  background-image: url(../img/caminho-7-1@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% - 1px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.informacoes .grupo-57-phANlq {
  background-color: var(--white);
  flex-shrink: 1;
  height: 199px;
  position: relative;
  width: 417px;
}
.informacoes .grupo-6-xQQPG2 {
  background-color: transparent;
  background-image: url(../img/caminho-8-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-7-uaN53x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-8-dHgtVi {
  background-color: transparent;
  height: 13px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 4px);
}
.informacoes .grupo-9-LGnrzP {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(24.33% - 5px);
  top: 2px;
  width: 20px;
}
.informacoes .grupo-de-mscara-2-wfjPNl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-de-mscara-3-0CxuuU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .grupo-de-mscara-4-tWM46M {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.informacoes .icon-aweso--instagram-u5lT13 {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 32px;
}
.informacoes .icon-aweso-e-user-alt-c8GuyA {
  background-color: transparent;
  height: 41.22%;
  left: 31.07%;
  position: absolute;
  top: 34.18%;
  width: 37.86%;
}
.informacoes .icon-aweso-ing-basket-pPstLa {
  background-color: transparent;
  bottom: calc(46.68% - 15px);
  height: 32px;
  left: calc(20.28% - 8px);
  position: absolute;
  width: 40px;
}
.informacoes .icon-aweso-money-bill-sB3Y3B {
  background-color: transparent;
  height: 27px;
  left: calc(20.00% - 9px);
  position: absolute;
  top: calc(50.00% - 14px);
  width: 45px;
}
.informacoes .icon-awesome-bell-Y8pGxd {
  background-color: transparent;
  height: 40.88%;
  left: 33.57%;
  position: absolute;
  top: 33.99%;
  width: 32.86%;
}
.informacoes .icon-awesome-home-DDRLMI {
  background-color: transparent;
  bottom: calc(49.37% - 16px);
  height: 31px;
  left: calc(20.28% - 8px);
  position: absolute;
  width: 41px;
}
.informacoes .icon-awesome-store-u71Isf {
  background-color: transparent;
  bottom: calc(48.57% - 17px);
  height: 36px;
  left: calc(19.91% - 9px);
  position: absolute;
  width: 43px;
}
.informacoes .icon-awesome-truck-75NSL6 {
  background-color: transparent;
  height: calc(100.00% - 30px);
  left: calc(19.31% - 10px);
  position: absolute;
  top: 15px;
  width: 52px;
}
.informacoes .icon-feather-link-u5lT13 {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  margin-left: 1.83px;
  margin-top: 22px;
  position: relative;
  width: 30px;
}
.informacoes .icon-ionic-ios-stats-5lQNoY {
  background-color: transparent;
  flex-shrink: 1;
  height: 36px;
  margin-top: 2px;
  position: relative;
  width: 38px;
}
.informacoes .icon-ionic-ios-stats-TLj29q {
  background-color: transparent;
  bottom: 15px;
  height: 41px;
  left: calc(20.52% - 8px);
  position: absolute;
  width: 38px;
}
.informacoes .icon-mater-w-releases-KEzZZT {
  background-color: transparent;
  height: calc(100.00% - 35px);
  left: calc(20.53% - 8px);
  position: absolute;
  top: 17px;
  width: 38px;
}
.informacoes .icon-material-chat-RLUsKv {
  background-color: transparent;
  height: 40.88%;
  left: 31.22%;
  position: absolute;
  top: 36.52%;
  width: 37.55%;
}
.informacoes .icon-metro-qrcode-u5lT13 {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 1.0px;
  margin-top: 22px;
  position: relative;
  width: 31px;
}
.informacoes .imagem-2-xe17xs {
  background-color: transparent;
  flex-shrink: 1;
  height: 344px;
  margin-left: 147px;
  position: relative;
  width: 553px;
}
.informacoes .incio-DDRLMI {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  left: calc(45.01% - 31px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 69px;
}
.informacoes .informaes-5lQNoY {
  background-color: transparent;
  color: var(--raw-sienna);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 41px;
  margin-left: 17px;
  min-height: 59px;
  min-width: 263px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .informaes-TLj29q {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(40.14% - 65px);
  text-align: left;
  white-space: nowrap;
  width: 161px;
}
.informacoes .minha-loja-u71Isf {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(44.88% - 61px);
  text-align: left;
  white-space: nowrap;
  width: 137px;
}
.informacoes .minhas-vendas-pPstLa {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(31.56% - 62px);
  text-align: left;
  white-space: nowrap;
  width: 196px;
}
.informacoes .novos-pedidos-KEzZZT {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(34.25% - 64px);
  text-align: left;
  white-space: nowrap;
  width: 186px;
}
.informacoes .overlap-group-W3m385 {
  background-color: transparent;
  flex-shrink: 1;
  height: 199px;
  position: relative;
  width: 1503px;
}
.informacoes .overlap-group1-phANlq {
  background-color: transparent;
  flex-shrink: 1;
  height: 881px;
  margin-top: 0px;
  position: relative;
  width: 459px;
}
.informacoes .overlap-group2-wUb0Bc {
  background-color: transparent;
  flex-shrink: 1;
  height: 82px;
  position: relative;
  width: 336px;
}
.informacoes .pagamentos-sB3Y3B {
  background-color: transparent;
  bottom: calc(26.47% - 10px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: calc(39.49% - 65px);
  text-align: left;
  white-space: nowrap;
  width: 164px;
}
.informacoes .perfis-vis-agamento-5-fXOuwH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 205px;
  min-height: 183px;
  min-width: 703px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .principal---de-acesso-B6ETm7 {
  background-color: transparent;
  color: var(--raw-sienna);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.informacoes .principal---de-acesso-wUb0Bc {
  background-color: transparent;
  color: var(--raw-sienna);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-top: 18px;
  min-height: 37px;
  min-width: 409px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .produtos-a-tirados-10-l1QoEv {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-left: 221px;
  min-height: 91px;
  min-width: 590px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .retngulo-1-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 23px;
  position: absolute;
  right: 7px;
  top: 6px;
  width: 4px;
}
.informacoes .retngulo-10-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 23px;
  left: calc(49.02% - 2px);
  position: absolute;
  top: 6px;
  width: 4px;
}
.informacoes .retngulo-11-E0sDxO {
  background-color: var(--citron);
  height: 199px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1503px;
}
.informacoes .retngulo-2-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 4px;
  position: absolute;
  right: 14px;
  top: 6px;
  width: 17px;
}
.informacoes .retngulo-25-GLDx8d {
  background-color: var(--citron);
  height: 881px;
  left: 42px;
  position: absolute;
  top: 0px;
  width: 417px;
}
.informacoes .retngulo-3-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 3px;
  position: absolute;
  right: 14px;
  top: calc(23.06% - 1px);
  width: 17px;
}
.informacoes .retngulo-32-c8GuyA {
  background-color: var(--white);
  border-radius: 53px;
  height: 108.86%;
  left: -30.23%;
  position: absolute;
  top: 32.91%;
  transform: rotate(-90deg);
  width: 160.47%;
}
.informacoes .retngulo-34-RLUsKv {
  background-color: var(--white);
  border-radius: 53px;
  height: 108.86%;
  left: -30.23%;
  position: absolute;
  top: 32.91%;
  transform: rotate(-90deg);
  width: 160.47%;
}
.informacoes .retngulo-36-Y8pGxd {
  background-color: var(--white);
  border-radius: 53px;
  height: 108.86%;
  left: -30.23%;
  position: absolute;
  top: 32.91%;
  transform: rotate(-90deg);
  width: 160.47%;
}
.informacoes .retngulo-4-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 4px;
  position: absolute;
  right: 14px;
  top: calc(35.14% - 1px);
  width: 17px;
}
.informacoes .retngulo-5-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 3px;
  position: absolute;
  right: 14px;
  top: calc(47.38% - 2px);
  width: 17px;
}
.informacoes .retngulo-6-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 3px;
  position: absolute;
  right: calc(38.41% - 7px);
  top: calc(47.38% - 2px);
  width: 17px;
}
.informacoes .retngulo-7-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 4px;
  position: absolute;
  right: calc(38.41% - 7px);
  top: calc(35.14% - 1px);
  width: 17px;
}
.informacoes .retngulo-8-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 3px;
  position: absolute;
  right: calc(38.41% - 7px);
  top: calc(23.06% - 1px);
  width: 17px;
}
.informacoes .retngulo-9-q2Etw4 {
  background-color: var(--raw-sienna);
  height: 4px;
  position: absolute;
  right: calc(38.41% - 7px);
  top: 6px;
  width: 17px;
}
.informacoes .sextas-feiras-B6ETm7 {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: auto;
}
.informacoes .x130-por-link-prprio-w8TEI0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 8px;
  min-height: 45px;
  min-width: 286px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .x20-por-instagram-w8TEI0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  min-height: 45px;
  min-width: 263px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .x200-l1QoEv {
  background-color: transparent;
  color: var(--raw-sienna);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 41px;
  min-height: 59px;
  min-width: 79px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.informacoes .x50-por-qr-code-w8TEI0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 8px;
  min-height: 45px;
  min-width: 223px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.poppins-bold-black-20px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-black-25px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-jaffa-25px {
  color: var(--jaffa);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.poppins-medium-black-25px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.poppins-medium-black-30px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.poppins-medium-boulder-20px {
  color: var(--boulder);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.poppins-medium-boulder-21px {
  color: var(--boulder);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
}
.poppins-medium-boulder-25px {
  color: var(--boulder);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.poppins-medium-boulder-45px {
  color: var(--boulder);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
}
:root {
  --atlantis: rgba(152,187,45,1.0);
  --black: rgba(0,0,0,1.0);
  --boulder: rgba(121,120,120,1.0);
  --citron: rgba(148,175,25,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --jaffa: rgba(244,136,60,1.0);
  --monza: rgba(219,0,12,1.0);
  --quick-silver: rgba(168,165,165,1.0);
  --raw-sienna: rgba(201,137,71,1.0);
  --white: rgba(255,255,255,1.0);
}
